<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet Home -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>servlet.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductServlet</servlet-name>
        <servlet-class>servlet.LoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>SePayWebhookServlet</servlet-name>
    <servlet-class>servlet.SePayWebhookServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SePayWebhookServlet</servlet-name>
    <url-pattern>/sepay-webhook</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>AdminOrderServlet</servlet-name>
        <servlet-class>servlet.AdminOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusServlet</servlet-name>
        <servlet-class>servlet.CheckStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- Add to Cart -->
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <!-- View Cart -->
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <!-- Remove from Cart -->
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/removefromcart</url-pattern>
    </servlet-mapping>
    <!-- Checkout -->
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductServlet</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderServlet</servlet-name>
        <url-pattern>/adminorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin-login</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>filter.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/adminorder</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/editproduct</url-pattern>
        <url-pattern>/deleteproduct</url-pattern>
        <url-pattern>/loadproduct</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusServlet</servlet-name>
        <url-pattern>/check-status</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
